.master-container {
    background: #304352;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d7d2cc, #304352);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d7d2cc, #304352);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;

}

.box {
    max-width: fit-content;
    padding: 1rem;
    color: white;
    border-width: 3px;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            red,
            rgba(0, 0, 0, 0)) 1 100%;
}

.dark {
    font-size: 1.25rem;
    font-weight: 900px;

}